/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName : "SAMTOOLS_FAIDX" {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: TRIMMOMATIC {
        publishDir = [
            enabled: false
        ]
        ext.args2 = 'ILLUMINACLIP:TruSeq3-PE.fa:2:30:10:2:True LEADING:3 TRAILING:3 MINLEN:36'
    }

    withNames: BOWTIE2_ALIGN {
        ext.args   = '-p 56 --no-mixed --no-discordant'
        publishDir = [
            [
                path: { "${params.outdir}/BOWTIE2_ALIGN" },
                mode: params.publish_dir_mode,
                pattern: '*.{bam,bai}',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: 'PICARD_MARKDUPLICATES' {
        ext.args   = '--ASSUME_SORTED true --REMOVE_DUPLICATES true --VALIDATION_STRINGENCY LENIENT --ADD_PG_TAG_TO_READS false --TMP_DIR tmp'
        ext.prefix = { "${meta.id}.md" }
        publishDir = [
            [
                path: { "${params.outdir}/PICARD_MARKDUPLICATES/reports" },
                mode: params.publish_dir_mode,
                pattern: '*metrics.txt',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.outdir}/PICARD_MARKDUPLICATES" },
                mode: params.publish_dir_mode,
                pattern: '*.md.{bam,bai}',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                //enable: params.save_markduplicates_bam
            ]
        ]
    }

    withNames : "SAMTOOLS_FLAGSTAT" {
            publishDir = [
                path: { "${params.outdir}/flagstats/" },
                mode: params.publish_dir_mode
            ]
    }

    withNames : ".*SAMTOOLS_DOWNSAMPLING.*" {
        
         publishDir = [
            path: { "${params.outdir}/downsampling/" },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]

    }

    withNames : ".*SAMTOOLS_MERGE.*" {
        publishDir = [
            path: { "${params.outdir}/samtools/merge" },
            mode: params.publish_dir_mode,
            pattern: '*.{bam,bai}'
        ]
    }
 
    withName : ".*DEEPTOOLS_BAMCOVERAGE.*" {

        publishDir = [
            path: { "${params.outdir}/deeptools/bamcoverage" },
            mode: params.publish_dir_mode,
            pattern: '*.bigWig'
        ]
    }

    withName : "DEEPTOOLS_BAMCOVSCALING" {
        publishDir = [
            path: { "${params.outdir}/deeptools/bamcoverage_noinput" },
            mode: params.publish_dir_mode,
            pattern: '*.bigWig'
        ]
        ext.args   = {"--scaleFactor ${meta.noinputNorm}"}
    }

}
